{% extends 'blog/blog_base.html' %}
{% load static %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard.css' %}" rel="stylesheet" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock stylesheets %}

{% block content %}


	<!-- cover -->
    
	<section class="p-0">
		<div class="swiper-container text-white"
			data-top-top="transform: translateY(0px);" 
			data-top-bottom="transform: translateY(250px);">
			<div class="swiper-wrapper">
				<div class="swiper-slide vh-100">
				<div class="image image-overlay image-zoom" style="background-image:url({{ article.image.url }})"></div>
				<div class="caption">
					<div class="container">
					<div class="row align-items-center vh-100">
						<div class="col-md-8" data-swiper-parallax-y="-250%">
						<span class="eyebrow mb-2">{{ article.category }}</span>
						<h1 class="display-2">{{ article.title }}</h1>
						</div>
					</div>
					</div>
				</div>
				</div>
				<div class="swiper-footer mb-5">
				<div class="container-fluid">
					<div class="row">
					<div class="col text-center">
						<div class="mouse"></div>
					</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
  
	<!-- / cover -->

	<!-- article -->

	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8">

					<article class="card mb-8">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-6">
									<div class="media align-items-center">
										<img class="avatar-rounded mr-2" src="https://res.cloudinary.com/cloud-equity/image/upload/v1675883758/Portfolio/milad-fakurian-E8Ufcyxz514-unsplash_cn7ozs.jpg" alt="Image">
										<div class="media-body">
											<a href="{% url 'blog:author_articles' article.author.username %}" class="mt-0">{{ article.author.username }}</a>
										</div>
									</div>
								</div>
								<div class="col-6 text-right">
									<div class="row">
										<nav aria-label="breadcrumb">
											<ol class="breadcrumb">
												<li class="breadcrumb-item"><i data-feather="calendar"></i><span class="p-1">{{ article.date_published.date }}</span></li>
												<li class="breadcrumb-item"><i data-feather="clock"></i><span class="p-1">{{ article.read_time }} minute{{ article.read_time|pluralize }}</span</li>
												<li class="breadcrumb-item"><i data-feather="eye"></i><span class="p-1">{{ article.views }}</span></li>
											</ol>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</article>


					<p>{{ article.body | safe }}</p>
				</div>
			</div>
			<div class="row justify-content-center">

				<div class="col-md-10 col-lg-8">
					<span class="eyebrow mb-2">Share</span>
				<div class="article-social-icon">
					<a href="mailto:?subject={{ article.title }}&amp;body=Check out this article {{ request.build_absolute_uri }}" target="_blank">
						<i data-feather="mail" style="stroke-width: 0.075rem;"></i>
					</a>
					<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"  target="_blank">
						<i data-feather="linkedin" style="stroke-width: 0.075rem;"></i>
					</a>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
						<i data-feather="facebook" style="stroke-width: 0.075rem;"></i>
					</a>
					<a href="http://twitter.com/share?text={{ article.title }}. &url={{ request.build_absolute_uri }}" target="_blank">
						<i data-feather="twitter" style="stroke-width: 0.075rem;"></i>
					</a>
					<a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" target="_blank">
						<i data-feather="message-circle" style="stroke-width: 0.075rem;"></i>
					</a>
					<a href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}&text={{ article.title }}" target="_blank">
						<i data-feather="send" style="stroke-width: 0.075rem;"></i>
					</a>
				</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8">
					<span class="eyebrow mb-2">Tags</span>
				<div class="tag-cloud">
					{% for tag in article.tags.all %}
						<a href="{% url 'blog:tag_articles' tag_name=tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
				</div>
				</div>
			</div>
		</div>
	</section>

	<!-- / article -->

	<!-- comment section -->

	<section class="bg-light">
		<div class="container">
			{% if user.is_authenticated %}
			<div id="disqus_thread"></div>
			<script>
				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
				/*
				var disqus_config = function () {
				this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				*/
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://endura-1.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				{% else %}
				<!-- message -->
				<div class="row mb-1">
					<div class="col">
					<article class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-6">
									<div class="media align-items-center">
										<div class="media-body">
										<h4>Please login to leave a comment</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					</div>
				</div>
				<!-- / message -->
				{% endif %}
				</div>
			</div>
		</div>
	</section>

	<!-- / comment section -->

	<!-- related -->

	<section class="bg-light separator-top">
		<div class="container">
			<div class="row">
				<div class="col">
				<h2>Related Articles</h2>
				</div>
			</div>
			{% if related_articles %}
			<div class="row gutter-2">
			{% for related_article in related_articles %}
				<div class="col-md-6 col-lg-4">
				<article class="tile">
					<div class="tile-image" style="background-image: url({{ related_article.image.url }})"></div>
					<a href="{{ related_article.get_absolute_url }}" class="tile-content">
					<div class="tile-header">
						<span class="eyebrow mb-1">{{ related_article.category }}</span>
						<h3>{{ related_article.title }}</h3>
					</div>
					<div class="tile-footer">
						<button class="btn btn-ico btn-outline-white btn-rounded">
						<i class="icon-arrow-right2 fs-20"></i>
						</button>
					</div>
					</a>
				</article>
				</div>
			{% endfor %}
			</div>
			{% else %}
                <div class="alert alert-info"><b>No Related Articles</b></div>
            {% endif %}
		</div>
	</section>

	<!-- / related -->

{% endblock content %}