{% extends 'blog/blog_base.html' %}

{% block title %}
    Dev Area
{% endblock title %}


{% block content %}

    {% if categories %}

    <!-- Categories -->

        <section>
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-4">
                        <h2 class="technical-text">.articles {</h2>
                            <p class="lead">Find great tips and tricks in bite-sized articles.</p>
                        <h2 class="technical-text">}</h2>
                    </div>
                    <div class="col-md-7">
                        <form class="input-group rounded" method="get" action="{% url 'blog:article_search_list_view' %}">
                            <input type="text" class="form-control px-3 text-shadow" placeholder="Search Articles" aria-label="Search articles" name="q">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-outline-info" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row text-white" data-aos="fade-left">
                    <div class="col">
                        <div class="owl-carousel owl-carousel-library visible owl-two" data-items="[3,2,1]" data-margin="30" data-nav="false">
                      
                            {% for category in categories %}
                            <article class="tile tile-long">
                                <div class="tile-image bg-dark" style="background-image: url({{ category.image.url }})"></div>
                                    <div>
                                        <div class="tile-header on-hover text-right">
                                            <a class="btn btn-with-ico btn-outline-white" href="{{ category.get_absolute_url }}">
                                                <i class="icon-arrow-right2 fs-20"></i>
                                                {{ category.name }} Articles
                                            </a>
                                        </div>
                                        <div class="tile-footer">
                                            <h3>{{ category.name }}</h3>
                                        </div>
                                    </div>
                            </article>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- / Categories -->

        {% endif %}

    <!-- Articles -->
    
        <section data-aos="fade-up">
            <div class="container-fluid">
                <div class="row">

                    <!-- Articles Left -->

                    <div class="col-md-8">
                        {% if articles %}
                        <ul class="masonry row gutter-2">
                            {% for article in articles %}
                            <li class="col-md-6">
                                <article class="tile">
                                    <div class="tile-image" style="background-image: url({{ article.image.url }})"></div>
                                    <a href="{{ article.get_absolute_url }}" class="tile-content">
                                        <div class="tile-footer">
                                            <span class="eyebrow mb-1">{{ article.category }}</span>
                                            <h3>{{ article.title }}</h3>
                                            <span><i data-feather="clock"></i><span class="p-2">{{ article.read_time }} minute{{ article.read_time|pluralize }}</span></span>
                                            <span><i data-feather="eye"></i><span class="p-2">{{ article.views }}</span></span>
                                            <span><i data-feather="message-circle"></i><span class="p-2">{{ article.comments.count }}</span></span>
                                        </div>
                                    </a>
                                </article>
                            </li>
                            {% endfor %}
                            </li>
                        </ul>
                        {% endif %}
                    </div> 

                    <!-- / Articles Left -->


                    <!-- Sidebar Right -->

                    <aside class="col-md-4 pl-md-4">
                        <div class="widget">
                            <span class="widget-title">Categories</span>
                            {% for category in categories %}
                            <div class="list-group list-group-categories pb-1">
                                <a href="{{ category.get_absolute_url }}" class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ category.name }}
                                    <span class="badge">{{ category.count }}</span>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="widget">
                            <span class="widget-title">Featured Articles</span>
                            <ul class="feed">
                            {% for article in articles|slice:"4" %}
                                <li>
                                    <a href="{{ article.get_absolute_url }}" class="feed-item">
                                    <img src="{{ article.image.url }}" alt="Image">
                                    <div class="feed-item-content">
                                        <h3>{{ article.title }}</h3>
                                    </div>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="widget">
                            <span class="widget-title">Tags</span>
                            <div class="tag-cloud">
                            {% for tag in tags|slice:"20" %}
                                <a href="{% url 'blog:tag_articles' tag_name=tag.name %}">{{ tag.name }}</a>
                            {% endfor %}
                            </div>
                        </div>
                    </aside>

                    <!-- / Sidebar Right -->

                </div>

                {# Pagination for article post #}

                    {% if is_paginated %}
                    <div class="col text-center">
                        {# Displays previous pages #}
                        {% if page_obj.has_previous %}
                            <a class="btn btn-outline-secondary text-black"
                            href="?page={{ page_obj.previous_page_number }}"><i data-feather="arrow-left"></i>
                            </a>
                        {% endif %}

                        {# Displays current page #}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="btn btn-outline-secondary text-black" href="?page={{ num }}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a class="btn btn-outline-secondary text-black" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {# Displays next pages #}
                        {% if page_obj.has_next %}
                            <a class="btn btn-outline-secondary text-black"
                            href="?page={{ page_obj.next_page_number }}"><i data-feather="arrow-right"></i>
                            </a>
                        {% endif %}

                    {% endif %}
                    </div>
            </div>
        </section>

    <!-- / Articles -->

		</div><!-- container -->
	</section><!-- section -->

{% endblock content %}