{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Endura</title>
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fund_chart.css' %}" />
    <link rel="stylesheet" href="{% static 'css/performance_chart.css' %}" />
    <link rel="stylesheet" href="{% static 'css/report_carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/86753f2bac.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/86753f2bac.js" crossorigin="anonymous"></script>
  </head>
  <body>


    <!-- header -->
    <header class="header-sticky header-dark">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img class="navbar-logo navbar-logo-light" src="https://res.cloudinary.com/cloud-equity/image/upload/v1675595527/Fund_Management%20Site/Demo_Logo_cca28o.png" alt="Logo">
            <img class="navbar-logo navbar-logo-dark" src="https://res.cloudinary.com/cloud-equity/image/upload/v1675595774/Fund_Management%20Site/Demo_Logo_Dark_hxsntl.png" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center mr-auto">
              <li class="nav-item">
                <a class="nav-link" role="button">
                </a>
              </li>
              <li class="nav-item dropdown">
              </li>
              <li class="nav-item dropdown dropdown-mega">
              </li>
            </ul>

            <ul class="navbar-nav align-items-center mr-0">
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="compass" class="nav-dropdown-icon-light"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#home">Home</a>
                    <a class="dropdown-item" href="#performance">Performance</a>
                    <a class="dropdown-item" href="#projects">Projects</a>
                    <a class="dropdown-item" href="#detail">Overview</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#contact">Contact</a>
                  </div>
                </li>
            </ul>

          </div>
        </nav>
      </div>
    </header>
    <!-- header -->


    <!-- cover -->

    <section id="home" class="p-0">
        <div class="swiper-container text-white"
            data-top-top="transform: translateY(0px);" 
            data-top-bottom="transform: translateY(250px);">
            <div class="swiper-wrapper">
                <div class="swiper-slide vh-100">
                    <div class="image image-overlay image-zoom">
                        <video autoplay muted loop id="bg_video" class="bg_video">
                            <source src="https://res.cloudinary.com/cloud-equity/video/upload/v1675891269/Portfolio/3215131423_slk63d.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="caption pb-8">
                        <div class="container">
                            <div class="row justify-content-between vh-75">
                                <div class="col-md-10 align-self-end">
                                    <h4 class="display-4 text-shadow" data-swiper-parallax="-100%">Our technology can accelerate your organisation's <b id="typed"></b></h4>
                                    <div id="typed-strings">
                                        <p>online market.</p>
                                        <p>corporate identity.</p>
                                        <p>web presence.</p>
                                        <p>legitimacy.</p>
                                    </div>
                                    <a href="" class="btn btn-white px-5 m-2">Try our kit</a>
                                    <a href="" class="btn btn-outline-orange ml-2">Get your design started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-footer mb-5">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col text-center">
                                <div class="mouse"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- / cover -->

    <!-- categories -->

        <section class="bg-dark text-white" id="projects">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                    <span class="eyebrow mb-2">get your hands dirty</span>
                    <h2>Live examples of our work.</h2>
                    <p class="lead">Trial some of our example works to see if anything fits your organisation's requirement.</p>
                    </div>
                    <div class="col-lg-6">
                    <p class="lead"></p>
                    </div>
                </div>
                <div class="row" data-aos="fade-left">
                    <div class="col">
                        <div class="owl-carousel owl-carousel-library visible owl-two" data-items="[3,2,1]" data-margin="30" data-nav="false">
                          
                            <article class="tile tile-long hover-frame">
                                <div class="tile-image backdrop-blur" style="background-image: url('https://res.cloudinary.com/cloud-equity/image/upload/v1675886031/Portfolio/layered-waves-haikei-3_nwlcdt.svg')"></div>
                                    <div class="tile-content">
                                        <div class="tile-header on-hover text-right">
                                            <a href="" class="btn btn-outline-orange">Live Demo</a>
                                         </div>
                                         <div class="tile-footer">
                                            <span class="eyebrow">website</span>
                                            <h3>Data Tracker</h3>
                                        </div>
                                    </div>
                            </article>
    
                            <article class="tile tile-long hover-frame">
                                <div class="tile-image backdrop-blur" style="background-image: url('https://res.cloudinary.com/cloud-equity/image/upload/v1675886122/Portfolio/blob-scene-haikei-2_q2rhif.svg')"></div>
                                    <div class="tile-content">
                                        <div class="tile-header on-hover text-right">
                                            <a href="" class="btn btn-outline-orange">Live Demo</a>
                                         </div>
                                         <div class="tile-footer">
                                            <span class="eyebrow">website</span>
                                            <h3>Organisation Dashboard</h3>
                                        </div>
                                    </div>
                            </article>

                            <article class="tile tile-long hover-frame">
                                <div class="tile-image backdrop-blur" style="background-image: url('https://res.cloudinary.com/cloud-equity/image/upload/v1675886959/Portfolio/layered-waves-haikei-4_feitcu.svg')"></div>
                                    <div class="tile-content">
                                        <div class="tile-header on-hover text-right">
                                            <a href="" class="btn btn-outline-orange">Live Demo</a>
                                         </div>
                                         <div class="tile-footer">
                                            <span class="eyebrow">website</span>
                                            <h3>Streaming Service</h3>
                                        </div>
                                    </div>
                            </article>

                            <article class="tile tile-long hover-frame">
                                <div class="tile-image backdrop-blur" style="background-image: url('https://res.cloudinary.com/cloud-equity/image/upload/v1675887203/Portfolio/circle-scatter-haikei-2_knglb6.svg')"></div>
                                    <div class="tile-content">
                                        <div class="tile-header on-hover text-right">
                                            <a href="" class="btn btn-outline-orange">Live Demo</a>
                                         </div>
                                         <div class="tile-footer">
                                            <span class="eyebrow">website</span>
                                            <h3>Subscription Blog</h3>
                                        </div>
                                    </div>
                            </article>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    <!-- / categories -->

     <!-- cta -->

        <section class="bg-dark text-white">
            <div class="container">
              <div class="boxed bg-orange p-5 text-white" data-aos="fade-up">
                <div class="row justify-content-between align-items-center text-center text-md-left">
                  <div class="col-md-3">
                    <h3>Start designing.</h3>
                  </div>
                  <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                  <div class="col-md-3 text-md-right mt-2 mt-md-0">
                    <a href="" class="btn btn-outline-white px-5">Proceed</a>
                  </div>
                </div>
              </div>
            </div>
          </section>

    <!-- / cta -->

    <!-- case study carousel -->

    <section class="bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                <span class="eyebrow mb-2">seeing is believing</span>
                <h2>Case Studies.</h2>
                <p class="lead">Take time to review some of our recent projects and the impact our web design team have had.</p>
                </div>
                <div class="col-lg-6">
                <p class="lead"></p>
                </div>
            </div>
        </div>       
        
        <div class="row m-8">
            <div class="col">
              <div class="owl-carousel visible" data-items="[3,2,2]" data-margin="20">
                <div class="step step-highlight">
                  <h4 class="step-title">Download</h4>
                  <p>Create your free account in a matter of minutes with our patented awesome sign up process.</p>
                </div>
                <div class="step">
                  <h4 class="step-title">Install</h4>
                  <p>Create your free account in a matter of minutes with our patented awesome sign up process.</p>
                </div>
                <div class="step">
                  <h4 class="step-title">Sign up</h4>
                  <p>Create your free account in a matter of minutes with our patented awesome sign up process.</p>
                </div>
                <div class="step">
                  <h4 class="step-title">Calibrate</h4>
                  <p>Create your free account in a matter of minutes with our patented awesome sign up process.</p>
                </div>
                <div class="step">
                  <h4 class="step-title">Sign up for free</h4>
                  <p>Create your free account in a matter of minutes with our patented awesome sign up process.</p>
                </div>
              </div>
            </div>
          </div>

        <div class="container-fluid">
        <div class="row" data-aos="fade-left">
            <div class="col-12">
            <div class="swiper-container swiper-container-carousel">
                <div class="swiper-wrapper">
                <div class="swiper-slide bg-dark">
                    <div class="image image-gradient-horizontal-light" style="background-image:url(https://res.cloudinary.com/cloud-equity/image/upload/v1675804270/Portfolio/igor-miske-JVSgcV8_vb4-unsplash_fqik0f.jpg)"></div>
                    <div class="caption">
                    <div class="container">
                        <div class="row align-items-end vh-75">
                        <div class="col-md-5 text-white" data-aos="fade-up">
                            <span class="eyebrow mb-2">Design</span>
                            <h2>Design Journal Blog Template</h2>
                            <a href="" class="btn btn-with-ico btn-outline-white mt-2">Read More <i class="icon-arrow-right2 fs-20"></i></a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="swiper-slide bg-dark">
                    <div class="image image-gradient-horizontal-light" style="background-image:url(https://res.cloudinary.com/cloud-equity/image/upload/v1675804274/Portfolio/ilya-pavlov-OqtafYT5kTw-unsplash_1_duncbf.jpg)"></div>
                    <div class="caption">
                    <div class="container">
                        <div class="row align-items-end vh-75">
                        <div class="col-md-5 text-white" data-aos="fade-up">
                            <span class="eyebrow mb-2">Design</span>
                            <h2>Design Journal Blog Template</h2>
                            <a href="" class="btn btn-with-ico btn-outline-white mt-2">Read More <i class="icon-arrow-right2 fs-20"></i></a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="swiper-slide bg-dark">
                    <div class="image image-gradient-horizontal-light" style="background-image:url(https://res.cloudinary.com/cloud-equity/image/upload/v1675804270/Portfolio/igor-miske-JVSgcV8_vb4-unsplash_fqik0f.jpg)"></div>
                    <div class="caption">
                    <div class="container">
                        <div class="row align-items-end vh-75">
                        <div class="col-md-5 text-white" data-aos="fade-up">
                            <span class="eyebrow mb-2">Design</span>
                            <h2>Design Journal Blog Template</h2>
                            <a href="" class="btn btn-with-ico btn-outline-white mt-2">Read More <i class="icon-arrow-right2 fs-20"></i></a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="container">
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    <!-- / case study carousel -->

    <!-- dev articles -->

    {% if categories %}

    <section class="bg-dark text-white" id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                <span class="eyebrow mb-2">want to learn how?</span>
                <h2 class="technical-text">.dev-area {</h2>
                <p class="lead">Find great tips and tricks in bite-sized articles.</p>
                <h2 class="technical-text">}</h2>
                </div>
                <div class="col-lg-6">
                <p class="lead"></p>
                </div>
            </div>
            <div class="row" data-aos="fade-left">
                <div class="col">
                    <div class="owl-carousel owl-carousel-library visible owl-two" data-items="[3,2,1]" data-margin="30" data-nav="false">
                      
                        {% for category in categories %}
                        <article class="tile tile-long">
                            <div class="tile-image bg-dark" style="background-image: url({{ category.image.url }})"></div>
                                <div>
                                    <div class="tile-header on-hover text-right">
                                        <a class="btn btn-with-ico btn-outline-white" href="{{ category.get_absolute_url }}">
                                            <i class="icon-arrow-right2 fs-20"></i>
                                            {{ category.name }} Articles
                                        </a>
                                    </div>
                                    <div class="tile-footer">
                                        <h3>{{ category.name }}</h3>
                                    </div>
                                </div>
                        </article>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endif %}

    <!-- / dev articles -->

    <!-- footer -->

    <footer class="bg-dark text-white">
      <div class="container pb-5">
        <div class="row">
          <div class="col">
            <h2 class="h3">High Street 47, 1000 <br>Sydnety, Australia</h2>
          </div>
          <div class="col text-right">
            <ul class="list-group list-group-minimal">
              <li class="list-group-item social-icon"><a href=""><i data-feather="facebook"></i></a></li>
              <li class="list-group-item social-icon"><a href=""><i data-feather="twitter"></i></a></li>
              <li class="list-group-item social-icon"><a href=""><i data-feather="instagram"></i></a></li>
              <li class="list-group-item social-icon"><a href=""><i data-feather="linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="separator-top">
        <div class="container py-5">
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <img class="logo-sm" src="https://res.cloudinary.com/cloud-equity/image/upload/v1675595527/Fund_Management%20Site/Demo_Logo_cca28o.png" alt="Logo">
            </div>
            <div class="col col-lg-2">
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item"><a href="">Performance</a></li>
                  <li class="list-group-item"><a href="">Projects</a></li>
                  <li class="list-group-item"><a href="">Overview</a></li>
                  <li class="list-group-item"><a href="">Contact</a></li>
                </ul>
              </div>
              <div class="col col-lg-2">
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item"><a href="">Licence</a></li>
                  <li class="list-group-item"><a href="">About Us</a></li>
                  <li class="list-group-item"><a href="">Legal Information</a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- / footer -->


    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/fund_chart.js' %}"></script>
    <script src="{% static 'js/performance_chart.js' %}"></script>
    <script src="{% static 'js/report_carousel.js' %}"></script>
    <script src="{% static 'js/hover_toggle.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        feather.replace()
    </script>

  </body>
</html>
{% endblock content %}
